<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unre.photo.comm.dal.dao.WalkthroughMapper">
	<resultMap id="BaseResultMap" type="com.unre.photo.comm.dal.model.Walkthrough">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="order_id" property="orderId" jdbcType="BIGINT" />
		<result column="image_path" property="imagePath" jdbcType="VARCHAR" />
		<result column="thumb_image_path" property="thumbImagePath"
			jdbcType="VARCHAR" />
		<result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
		<result column="create_by" property="createBy" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="INTEGER" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="privacy" property="privacy" jdbcType="CHAR" />
	</resultMap>
	
	<resultMap id="WalkResultMap" type="com.unre.photo.comm.dal.model.PublicScan" >
	   <result column="member_id" property="memberId" jdbcType="BIGINT" />
	   <result column="benaco_scan_id" property="benacoScanId"
			jdbcType="VARCHAR" />
	   <result column="description" property="description" jdbcType="VARCHAR" />
	   <result column="thumb_image_path" property="thumbImagePath"
			jdbcType="VARCHAR" />
	   <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />	   
	</resultMap>
	
	<sql id="Base_Column_List">
		id, order_id, image_path, thumb_image_path, is_deleted,
		create_by,
		create_time, update_by,
		update_time,privacy
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from tbl_walkthrough
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		tbl_walkthrough
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.unre.photo.comm.dal.model.Walkthrough"
		useGeneratedKeys="true" keyProperty="id">
		insert into tbl_walkthrough
		(order_id, image_path, thumb_image_path,
		is_deleted, create_by,
		create_time,
		update_by, update_time,privacy)
		values
		(#{orderId,jdbcType=BIGINT}, #{imagePath,jdbcType=VARCHAR},
		#{thumbImagePath,jdbcType=VARCHAR},
		#{isDeleted,jdbcType=CHAR},
		#{createBy,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
		#{updateBy,jdbcType=INTEGER},
		#{updateTime,jdbcType=TIMESTAMP},#{privacy,jdbcType=CHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.unre.photo.comm.dal.model.Walkthrough"
		useGeneratedKeys="true" keyProperty="id">
		insert into tbl_walkthrough
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderId != null">
				order_id,
			</if>
			<if test="imagePath != null">
				image_path,
			</if>
			<if test="thumbImagePath != null">
				thumb_image_path,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="privacy != null">
				privacy,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orderId != null">
				#{orderId,jdbcType=BIGINT},
			</if>
			<if test="imagePath != null">
				#{imagePath,jdbcType=VARCHAR},
			</if>
			<if test="thumbImagePath != null">
				#{thumbImagePath,jdbcType=VARCHAR},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=CHAR},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="privacy != null">
				#{privacy,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.unre.photo.comm.dal.model.Walkthrough">
		update tbl_walkthrough
		<set>
			<if test="orderId != null">
				order_id = #{orderId,jdbcType=BIGINT},
			</if>
			<if test="imagePath != null">
				image_path = #{imagePath,jdbcType=VARCHAR},
			</if>
			<if test="thumbImagePath != null">
				thumb_image_path = #{thumbImagePath,jdbcType=VARCHAR},
			</if>
			<if test="isDeleted != null">
				is_deleted = #{isDeleted,jdbcType=CHAR},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="privacy != null">
				privacy = #{privacy,jdbcType=CHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.unre.photo.comm.dal.model.Walkthrough">
		update
		tbl_walkthrough
		set order_id = #{orderId,jdbcType=BIGINT},
		image_path =
		#{imagePath,jdbcType=VARCHAR},
		thumb_image_path =
		#{thumbImagePath,jdbcType=VARCHAR},
		is_deleted =
		#{isDeleted,jdbcType=CHAR},
		create_by = #{createBy,jdbcType=INTEGER},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_by =
		#{updateBy,jdbcType=INTEGER},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP},
		privacy = #{privacy,jdbcType=CHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!--===============自定义sql =============== -->
	<select id="getPubilcScan" resultMap="WalkResultMap" >
		select
		a.member_id,a.benaco_scan_id,a.description,b.thumb_image_path,a.create_time
		from tbl_order a,tbl_walkthrough b where a.id=b.order_id and
		a.status=2 and b.privacy=0
	</select>

</mapper>